# Virtual Environments
venv/
backend/venv/

# Secrets
.env
backend/.env

# Node modules
frontend/node_modules/
node_modules/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE and OS files
.vscode/
.idea/
.DS_Store

# Asset source archives
frontend/src/assets/Amazon_Typefaces_Complete_Font_Set_Mar2020/*.zip
